.title {
  margin: 0;
  text-align: center;
  font-size: 2em;
}
.desc {
  text-align: center;
  font-style: italic;
  color: gray;
  margin-bottom: 2rem;
}
.orderInfoList {
  font-size: 1.2em;
}
.orderInfoActions {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.orderInfoActions {
  margin-top: 1rem;
}
